@font-face {
    font-family: The Seasons;
    src: url('/fonts/Seasons/Fontspring-DEMO-theseasons-lt.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: The Seasons, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 70px; /* Tamaño ajustado para mejor escalabilidad */
    font-weight: 300;
    line-height: 1.2;
    color: #803813;
    margin-bottom: 20px;
}

body {
    font-family: 'Manrope', sans-serif;
    /* background: linear-gradient(90deg, #fff2eb 15%, rgba(255, 255, 255, 1) 68%); */
    background-color: #fff2eb;
    font-size: 1rem;
    /* line-height: 0.8; */
    color: #4d4e53;
    padding: 0;
    margin: 0;
}



#navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    width: 100%;
    /* background: linear-gradient(90deg, #fff2eb 15%, rgba(255, 255, 255, 1) 68%); */
    background-color: #fff2eb;
    z-index: 10;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); Sombra sutil para definición */
    justify-content: center; /* Alinea las redes sociales en el centro */
    gap: 15px; /* Espaciado entre los íconos */
}

#navbar ul {
    display: flex;
    flex-direction: row;
    height: 88%;
    padding: 20px 0;
    list-style: none;
}


#navbar li {
    list-style: none;
}

#navbar a {
    display: block;
    padding: 10px 30px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.9rem;
    transition: transform 0.3s ease;
}

#navbar a:hover {
    color: #803813;
    transform: scale(1.2); /* Efecto hover, agranda un poco los íconos al pasar el ratón */
    filter: brightness(1.2); /* Ilumina los íconos en hover */
}

.main-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 100px 10%; /* Espaciado superior para evitar solapamiento con navbar */
    height: 100vh; /* Altura de pantalla completa */
}

.text-section {
    flex: 1;
    margin-right: 5%; /* Añadir espacio entre el texto y la imagen */
}

.img-section {
    flex: 1;
}

.img-section img {
    max-width: 85%; /* Imagen escala con el contenedor */
    height: auto;
    padding-top: 30px;
    border-radius: 10px; /* Bordes redondeados para darle un toque elegante */
}

footer {
    margin-top: 40px;
    background-color: #2c2c2c; /* Fondo oscuro para mayor elegancia */
    color: #ffffff; /* Texto en blanco para buen contraste */
    padding: 40px 0; /* Añadir más espacio en la parte superior e inferior */
    text-align: center; /* Centrar el contenido del footer */
    font-family: 'Helvetica', sans-serif; /* Fuente moderna y minimalista */
}

footer p {
    margin: 0; /* Elimina márgenes extra de los párrafos */
    font-size: 14px; /* Tamaño de fuente más pequeño */
    opacity: 0.8; /* Opacidad en el texto para un look más sutil */
}

.socials {
    margin-top: 20px;
    display: flex;
    justify-content: center; /* Alinea las redes sociales en el centro */
    gap: 15px; /* Espaciado entre los íconos */
}

.socials img {
    height: 40px; /* Tamaño controlado y proporcional para íconos */
    width: 40px; /* Ajusta según tus necesidades */
    transition: transform 0.3s ease; /* Efecto de transición suave al hacer hover */
}

.socials img:hover {
    transform: scale(1.2); /* Efecto hover, agranda un poco los íconos al pasar el ratón */
    filter: brightness(1.2); /* Ilumina los íconos en hover */
}